<div class="block notice">
  <h4>Notice</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>

<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><%%= link_to "Link 1", '#' %></li>
  </ul>
</div>
